<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.linxiuyun.dym.mapper.ApplyRecordHisMapper">

	<resultMap id="ApplyRecordHisResult" type="cn.linxiuyun.dym.model.ApplyRecordHis">
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="applyRecordHisColumns">
	    <![CDATA[
        	id as id,
        	user_authentic_id as userAuthenticId,
        	join_party_apply_id as joinPartyApplyId,
        	apply_date as applyDate,
        	examine_date as examineDate,
        	examine_user_id as examineUserId,
        	is_examine as isExamine
	    ]]>
	</sql>
	
	<sql id="applyRecordHisDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="userAuthenticId != null">
				and user_authentic_id = #{userAuthenticId}
			</if>
			<if test="joinPartyApplyId != null">
				and join_party_apply_id = #{joinPartyApplyId}
			</if>
			<if test="applyDate != null">
				and apply_date = #{applyDate}
			</if>
			<if test="examineDate != null">
				and examine_date = #{examineDate}
			</if>
			<if test="examineUserId != null">
				and examine_user_id = #{examineUserId}
			</if>
			<if test="isExamine != null">
				and is_examine = #{isExamine}
			</if>
		</where>
	</sql>

	<insert id="save" parameterType="cn.linxiuyun.dym.model.ApplyRecordHis" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO
	        apply_record_his (
	        	id ,
	        	user_authentic_id ,
	        	join_party_apply_id ,
	        	apply_date ,
	        	examine_date ,
	        	examine_user_id ,
	        	is_examine 
	        ) VALUES (
	        	#{id,jdbcType=INTEGER} ,
	        	#{userAuthenticId,jdbcType=INTEGER} ,
	        	#{joinPartyApplyId,jdbcType=INTEGER} ,
	        	#{applyDate,jdbcType=TIMESTAMP} ,
	        	#{examineDate,jdbcType=TIMESTAMP} ,
	        	#{examineUserId,jdbcType=INTEGER} ,
	        	#{isExamine,jdbcType=INTEGER} 
	        )
	    ]]>
	</insert>
    
	<update id="update" parameterType="cn.linxiuyun.dym.model.ApplyRecordHis">
	    <![CDATA[
	        UPDATE apply_record_his SET
		        user_authentic_id = #{userAuthenticId,jdbcType=INTEGER} ,
		        join_party_apply_id = #{joinPartyApplyId,jdbcType=INTEGER} ,
		        apply_date = #{applyDate,jdbcType=TIMESTAMP} ,
		        examine_date = #{examineDate,jdbcType=TIMESTAMP} ,
		        examine_user_id = #{examineUserId,jdbcType=INTEGER} ,
		        is_examine = #{isExamine,jdbcType=INTEGER} 
			WHERE 
				id = #{id} 
	    ]]>
	</update>
	
	<update id="updateParams" parameterType="cn.linxiuyun.dym.model.ApplyRecordHis">
		UPDATE 
			apply_record_his
		<set>
			<if test="userAuthenticId != null">
				user_authentic_id = #{userAuthenticId,jdbcType=INTEGER},
			</if>
			<if test="joinPartyApplyId != null">
				join_party_apply_id = #{joinPartyApplyId,jdbcType=INTEGER},
			</if>
			<if test="applyDate != null">
				apply_date = #{applyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="examineDate != null">
				examine_date = #{examineDate,jdbcType=TIMESTAMP},
			</if>
			<if test="examineUserId != null">
				examine_user_id = #{examineUserId,jdbcType=INTEGER},
			</if>
			<if test="isExamine != null">
				is_examine = #{isExamine,jdbcType=INTEGER},
			</if>
		</set>
		WHERE 
			id = #{id} 
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
	    <![CDATA[
	        delete from apply_record_his where
	        id = #{id} 
	    ]]>
    </delete>
    
    <select id="find" parameterType="java.lang.Integer" resultMap="ApplyRecordHisResult">
		select <include refid="applyRecordHisColumns" />
	    <![CDATA[
		    from apply_record_his 
	        where 
		        id = #{id} 
	    ]]>
	</select>
	
    <select id="count" resultType="long" parameterType="cn.linxiuyun.dym.model.ApplyRecordHis">
        select count(1) from apply_record_his 
		<include refid="applyRecordHisDynamicWhere"/>    
    </select>
    
	<select id="getOne" resultMap="ApplyRecordHisResult" parameterType="map">
		select <include refid="applyRecordHisColumns"/> from apply_record_his  
		<include refid="applyRecordHisDynamicWhere"/>
		<if test="orderBy != null">
		order by ${orderBy}
		</if>
		limit 0,1
	</select>
	
	<select id="getAll" resultMap="ApplyRecordHisResult" parameterType="map">
		select <include refid="applyRecordHisColumns"/> from apply_record_his  
		<include refid="applyRecordHisDynamicWhere"/>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>
	
	<select id="getScrollData" resultMap="ApplyRecordHisResult" parameterType="map">
		select <include refid="applyRecordHisColumns" />
	    	from apply_record_his 
		<include refid="applyRecordHisDynamicWhere"/>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
		<if test="fromIndex != null and fromIndex > -1 and pageSize != null and pageSize > 0">
			limit #{fromIndex},#{pageSize}
		</if>
    </select>
    
	<select id="getScrollCount" resultType="long" parameterType="map">
		select count(1) from apply_record_his 
		<include refid="applyRecordHisDynamicWhere"/>
	</select>
	
	
	<!-- 以上为自动生成部分，使用中勿作改动；自己新增sql在以下部分去写。如库表变动，将生成的部分覆盖以上部分即可。 -->
	
	
	
</mapper>
