<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.linxiuyun.dym.mapper.ApplyAwardAndPunishMapper">

	<resultMap id="ApplyAwardAndPunishResult" type="cn.linxiuyun.dym.model.ApplyAwardAndPunish">
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="applyAwardAndPunishColumns">
	    <![CDATA[
        	id as id,
        	user_authentic_id as userAuthenticId,
        	calss_info as calssInfo,
        	apply_table_id as applyTableId,
        	apply_date as applyDate,
        	examine_date as examineDate,
        	is_apply as isApply,
        	is_agree as isAgree,
        	examine_user_id as examineUserId,
        	remark as remark
	    ]]>
	</sql>
	
	<sql id="applyAwardAndPunishDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="userAuthenticId != null">
				and user_authentic_id = #{userAuthenticId}
			</if>
			<if test="calssInfo != null">
				and calss_info = #{calssInfo}
			</if>
			<if test="applyTableId != null">
				and apply_table_id = #{applyTableId}
			</if>
			<if test="applyDate != null">
				and apply_date = #{applyDate}
			</if>
			<if test="examineDate != null">
				and examine_date = #{examineDate}
			</if>
			<if test="isApply != null">
				and is_apply = #{isApply}
			</if>
			<if test="isAgree != null">
				and is_agree = #{isAgree}
			</if>
			<if test="examineUserId != null">
				and examine_user_id = #{examineUserId}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
	</sql>

	<insert id="save" parameterType="cn.linxiuyun.dym.model.ApplyAwardAndPunish" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO
	        apply_award_and_punish (
	        	id ,
	        	user_authentic_id ,
	        	calss_info ,
	        	apply_table_id ,
	        	apply_date ,
	        	examine_date ,
	        	is_apply ,
	        	is_agree ,
	        	examine_user_id ,
	        	remark 
	        ) VALUES (
	        	#{id,jdbcType=INTEGER} ,
	        	#{userAuthenticId,jdbcType=INTEGER} ,
	        	#{calssInfo,jdbcType=VARCHAR} ,
	        	#{applyTableId,jdbcType=INTEGER} ,
	        	#{applyDate,jdbcType=TIMESTAMP} ,
	        	#{examineDate,jdbcType=TIMESTAMP} ,
	        	#{isApply,jdbcType=INTEGER} ,
	        	#{isAgree,jdbcType=INTEGER} ,
	        	#{examineUserId,jdbcType=INTEGER} ,
	        	#{remark,jdbcType=VARCHAR} 
	        )
	    ]]>
	</insert>
    
	<update id="update" parameterType="cn.linxiuyun.dym.model.ApplyAwardAndPunish">
	    <![CDATA[
	        UPDATE apply_award_and_punish SET
		        user_authentic_id = #{userAuthenticId,jdbcType=INTEGER} ,
		        calss_info = #{calssInfo,jdbcType=VARCHAR} ,
		        apply_table_id = #{applyTableId,jdbcType=INTEGER} ,
		        apply_date = #{applyDate,jdbcType=TIMESTAMP} ,
		        examine_date = #{examineDate,jdbcType=TIMESTAMP} ,
		        is_apply = #{isApply,jdbcType=INTEGER} ,
		        is_agree = #{isAgree,jdbcType=INTEGER} ,
		        examine_user_id = #{examineUserId,jdbcType=INTEGER} ,
		        remark = #{remark,jdbcType=VARCHAR} 
			WHERE 
				id = #{id} 
	    ]]>
	</update>
	
	<update id="updateParams" parameterType="cn.linxiuyun.dym.model.ApplyAwardAndPunish">
		UPDATE 
			apply_award_and_punish
		<set>
			<if test="userAuthenticId != null">
				user_authentic_id = #{userAuthenticId,jdbcType=INTEGER},
			</if>
			<if test="calssInfo != null">
				calss_info = #{calssInfo,jdbcType=VARCHAR},
			</if>
			<if test="applyTableId != null">
				apply_table_id = #{applyTableId,jdbcType=INTEGER},
			</if>
			<if test="applyDate != null">
				apply_date = #{applyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="examineDate != null">
				examine_date = #{examineDate,jdbcType=TIMESTAMP},
			</if>
			<if test="isApply != null">
				is_apply = #{isApply,jdbcType=INTEGER},
			</if>
			<if test="isAgree != null">
				is_agree = #{isAgree,jdbcType=INTEGER},
			</if>
			<if test="examineUserId != null">
				examine_user_id = #{examineUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE 
			id = #{id} 
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
	    <![CDATA[
	        delete from apply_award_and_punish where
	        id = #{id} 
	    ]]>
    </delete>
    
    <select id="find" parameterType="java.lang.Integer" resultMap="ApplyAwardAndPunishResult">
		select <include refid="applyAwardAndPunishColumns" />
	    <![CDATA[
		    from apply_award_and_punish 
	        where 
		        id = #{id} 
	    ]]>
	</select>
	
    <select id="count" resultType="long" parameterType="cn.linxiuyun.dym.model.ApplyAwardAndPunish">
        select count(1) from apply_award_and_punish 
		<include refid="applyAwardAndPunishDynamicWhere"/>    
    </select>
    
	<select id="getOne" resultMap="ApplyAwardAndPunishResult" parameterType="map">
		select <include refid="applyAwardAndPunishColumns"/> from apply_award_and_punish  
		<include refid="applyAwardAndPunishDynamicWhere"/>
		<if test="orderBy != null">
		order by ${orderBy}
		</if>
		limit 0,1
	</select>
	
	<select id="getAll" resultMap="ApplyAwardAndPunishResult" parameterType="map">
		select <include refid="applyAwardAndPunishColumns"/> from apply_award_and_punish  
		<include refid="applyAwardAndPunishDynamicWhere"/>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>
	
	<select id="getScrollData" resultMap="ApplyAwardAndPunishResult" parameterType="map">
		select <include refid="applyAwardAndPunishColumns" />
	    	from apply_award_and_punish 
		<include refid="applyAwardAndPunishDynamicWhere"/>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
		<if test="fromIndex != null and fromIndex > -1 and pageSize != null and pageSize > 0">
			limit #{fromIndex},#{pageSize}
		</if>
    </select>
    
	<select id="getScrollCount" resultType="long" parameterType="map">
		select count(1) from apply_award_and_punish 
		<include refid="applyAwardAndPunishDynamicWhere"/>
	</select>
	
	
	<!-- 以上为自动生成部分，使用中勿作改动；自己新增sql在以下部分去写。如库表变动，将生成的部分覆盖以上部分即可。 -->
	
	
	
</mapper>
