<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="cn.linxiuyun.dym.mapper.UserInfoMapper">

	<resultMap id="UserInfoResult" type="cn.linxiuyun.dym.model.UserInfo">
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="userInfoColumns">
	    <![CDATA[
        	id as id,
        	user_authentic_id as userAuthenticId,
        	name as name,
        	birthday as birthday,
        	join_cyl_time as joinCylTime,
        	nation as nation,
        	province as province,
        	city as city,
        	district as district,
        	marital_status as maritalStatus,
        	id_no as idNo,
        	education as education,
        	major_and_class as majorAndClass,
        	is_party_member as isPartyMember,
        	party_time as partyTime,
        	party_province as partyProvince,
        	party_city as partyCity,
        	party_district as partyDistrict,
        	remarks as remarks,
        	gender as gender
	    ]]>
	</sql>
	
	<sql id="userInfoDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="userAuthenticId != null">
				and user_authentic_id = #{userAuthenticId}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="birthday != null">
				and birthday = #{birthday}
			</if>
			<if test="joinCylTime != null">
				and join_cyl_time = #{joinCylTime}
			</if>
			<if test="nation != null">
				and nation = #{nation}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="district != null">
				and district = #{district}
			</if>
			<if test="maritalStatus != null">
				and marital_status = #{maritalStatus}
			</if>
			<if test="idNo != null">
				and id_no = #{idNo}
			</if>
			<if test="education != null">
				and education = #{education}
			</if>
			<if test="majorAndClass != null">
				and major_and_class = #{majorAndClass}
			</if>
			<if test="isPartyMember != null">
				and is_party_member = #{isPartyMember}
			</if>
			<if test="partyTime != null">
				and party_time = #{partyTime}
			</if>
			<if test="partyProvince != null">
				and party_province = #{partyProvince}
			</if>
			<if test="partyCity != null">
				and party_city = #{partyCity}
			</if>
			<if test="partyDistrict != null">
				and party_district = #{partyDistrict}
			</if>
			<if test="remarks != null">
				and remarks = #{remarks}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
		</where>
	</sql>

	<insert id="save" parameterType="cn.linxiuyun.dym.model.UserInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO
	        user_info (
	        	id ,
	        	user_authentic_id ,
	        	name ,
	        	birthday ,
	        	join_cyl_time ,
	        	nation ,
	        	province ,
	        	city ,
	        	district ,
	        	marital_status ,
	        	id_no ,
	        	education ,
	        	major_and_class ,
	        	is_party_member ,
	        	party_time ,
	        	party_province ,
	        	party_city ,
	        	party_district ,
	        	remarks ,
	        	gender 
	        ) VALUES (
	        	#{id,jdbcType=INTEGER} ,
	        	#{userAuthenticId,jdbcType=INTEGER} ,
	        	#{name,jdbcType=VARCHAR} ,
	        	#{birthday,jdbcType=TIMESTAMP} ,
	        	#{joinCylTime,jdbcType=TIMESTAMP} ,
	        	#{nation,jdbcType=VARCHAR} ,
	        	#{province,jdbcType=VARCHAR} ,
	        	#{city,jdbcType=VARCHAR} ,
	        	#{district,jdbcType=VARCHAR} ,
	        	#{maritalStatus,jdbcType=INTEGER} ,
	        	#{idNo,jdbcType=VARCHAR} ,
	        	#{education,jdbcType=INTEGER} ,
	        	#{majorAndClass,jdbcType=VARCHAR} ,
	        	#{isPartyMember,jdbcType=INTEGER} ,
	        	#{partyTime,jdbcType=TIMESTAMP} ,
	        	#{partyProvince,jdbcType=VARCHAR} ,
	        	#{partyCity,jdbcType=VARCHAR} ,
	        	#{partyDistrict,jdbcType=VARCHAR} ,
	        	#{remarks,jdbcType=VARCHAR} ,
	        	#{gender,jdbcType=INTEGER} 
	        )
	    ]]>
	</insert>
    
	<update id="update" parameterType="cn.linxiuyun.dym.model.UserInfo">
	    <![CDATA[
	        UPDATE user_info SET
		        user_authentic_id = #{userAuthenticId,jdbcType=INTEGER} ,
		        name = #{name,jdbcType=VARCHAR} ,
		        birthday = #{birthday,jdbcType=TIMESTAMP} ,
		        join_cyl_time = #{joinCylTime,jdbcType=TIMESTAMP} ,
		        nation = #{nation,jdbcType=VARCHAR} ,
		        province = #{province,jdbcType=VARCHAR} ,
		        city = #{city,jdbcType=VARCHAR} ,
		        district = #{district,jdbcType=VARCHAR} ,
		        marital_status = #{maritalStatus,jdbcType=INTEGER} ,
		        id_no = #{idNo,jdbcType=VARCHAR} ,
		        education = #{education,jdbcType=INTEGER} ,
		        major_and_class = #{majorAndClass,jdbcType=VARCHAR} ,
		        is_party_member = #{isPartyMember,jdbcType=INTEGER} ,
		        party_time = #{partyTime,jdbcType=TIMESTAMP} ,
		        party_province = #{partyProvince,jdbcType=VARCHAR} ,
		        party_city = #{partyCity,jdbcType=VARCHAR} ,
		        party_district = #{partyDistrict,jdbcType=VARCHAR} ,
		        remarks = #{remarks,jdbcType=VARCHAR} ,
		        gender = #{gender,jdbcType=INTEGER} 
			WHERE 
				id = #{id} 
	    ]]>
	</update>
	
	<update id="updateParams" parameterType="cn.linxiuyun.dym.model.UserInfo">
		UPDATE 
			user_info
		<set>
			<if test="userAuthenticId != null">
				user_authentic_id = #{userAuthenticId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="joinCylTime != null">
				join_cyl_time = #{joinCylTime,jdbcType=TIMESTAMP},
			</if>
			<if test="nation != null">
				nation = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="maritalStatus != null">
				marital_status = #{maritalStatus,jdbcType=INTEGER},
			</if>
			<if test="idNo != null">
				id_no = #{idNo,jdbcType=VARCHAR},
			</if>
			<if test="education != null">
				education = #{education,jdbcType=INTEGER},
			</if>
			<if test="majorAndClass != null">
				major_and_class = #{majorAndClass,jdbcType=VARCHAR},
			</if>
			<if test="isPartyMember != null">
				is_party_member = #{isPartyMember,jdbcType=INTEGER},
			</if>
			<if test="partyTime != null">
				party_time = #{partyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="partyProvince != null">
				party_province = #{partyProvince,jdbcType=VARCHAR},
			</if>
			<if test="partyCity != null">
				party_city = #{partyCity,jdbcType=VARCHAR},
			</if>
			<if test="partyDistrict != null">
				party_district = #{partyDistrict,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=INTEGER},
			</if>
		</set>
		WHERE 
			id = #{id} 
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
	    <![CDATA[
	        delete from user_info where
	        id = #{id} 
	    ]]>
    </delete>
    
    <select id="find" parameterType="java.lang.Integer" resultMap="UserInfoResult">
		select <include refid="userInfoColumns" />
	    <![CDATA[
		    from user_info 
	        where 
		        id = #{id} 
	    ]]>
	</select>
	
    <select id="count" resultType="long" parameterType="cn.linxiuyun.dym.model.UserInfo">
        select count(1) from user_info 
		<include refid="userInfoDynamicWhere"/>    
    </select>
    
	<select id="getOne" resultMap="UserInfoResult" parameterType="map">
		select <include refid="userInfoColumns"/> from user_info  
		<include refid="userInfoDynamicWhere"/>
		<if test="orderBy != null">
		order by ${orderBy}
		</if>
		limit 0,1
	</select>
	
	<select id="getAll" resultMap="UserInfoResult" parameterType="map">
		select <include refid="userInfoColumns"/> from user_info  
		<include refid="userInfoDynamicWhere"/>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>
	
	<select id="getScrollData" resultMap="UserInfoResult" parameterType="map">
		select <include refid="userInfoColumns" />
	    	from user_info 
		<include refid="userInfoDynamicWhere"/>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
		<if test="fromIndex != null and fromIndex > -1 and pageSize != null and pageSize > 0">
			limit #{fromIndex},#{pageSize}
		</if>
    </select>
    
	<select id="getScrollCount" resultType="long" parameterType="map">
		select count(1) from user_info 
		<include refid="userInfoDynamicWhere"/>
	</select>
	
	
	<!-- 以上为自动生成部分，使用中勿作改动；自己新增sql在以下部分去写。如库表变动，将生成的部分覆盖以上部分即可。 -->
	
	
	
</mapper>
