<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="i" type="java.lang.Integer"*/-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新闻传播学院党员后台管理系统</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function show() {
            document.getElementById('a').style.display = 'block';
        }

        function hide() {
            document.getElementById('a').style.display = 'none';
        }
    </script>

</head>
<body style="padding-top: 50px">
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">新闻与传播学院党员后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Hi,欢迎张三</a></li>
                <li><a>退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top col-md-2" id="sidebar-wrapper" role="navigation"
     style="margin-top: 51px;background-color: #f2f2f2;border: none;width: 10%;height: 100%">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="ad.html">
                首页
            </a>
        </li>
        <li>
            <a href="#">个人信息</a>
        </li>
        <li>
            <a href="adapp.html">入党申请待核实</a>
        </li>
        <li>
            <a href="addans.html">奖惩信息待核实</a>
        </li>
        <li>
            <a href="adrel.html">组织关系调动</a>
        </li>
    </ul>
</nav>

<div class="col-md-10" style="width: 90%;margin-left: 10%;padding: 0px">
    <nav class="navbar navbar-default" style="border: none;"/>
    <div class="container-fluid">

        <div class="col-md-12" style="border-bottom: 1px solid #f2f2f2;"><h3 style="margin-top:0px;color: #337ab7;">
            个人信息</h3></div>
        <div class="col-md-6" style="padding: 40px 50px 20px 50px;">
            <table class="table table-hover" style="text-align: center;" id="table">

            </table>

            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <input id="currPage" hidden="hidden" />
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="i:${#numbers.sequence(1,totalPage)}">
                        <li><a href="#" th:text="${i}" onclick="loadPage(this.text)"></a></li>
                    </th:block>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-6 text-center" style="padding: 40px 100px 20px 100px;display: none;" id="a" onclick="hide()">
            <div style="margin-bottom: 50px">
                <div class="col-md-2" style="background-color: #f7f7f7">姓名</div>
                <div class="col-md-2">王小爱</div>
                <div class="col-md-2" style="background-color: #f7f7f7">性别</div>
                <div class="col-md-2">女</div>
                <div class="col-md-2" style="background-color: #f7f7f7">生日</div>
                <div class="col-md-2">1996-10-17</div>
            </div>
            <div style="margin-bottom: 100px">
                <div class="col-md-5" style="background-color: #f7f7f7">身份证号码</div>
                <div class="col-md-5">351254199610175485</div>
            </div>
            <div style="margin-bottom: 150px">
                <div class="col-md-5" style="background-color: #f7f7f7">专业班级</div>
                <div class="col-md-5">新闻专业1班</div>
            </div>
            <div style="margin-bottom: 200px">
                <div class="col-md-3" style="background-color: #f7f7f7">入团时间</div>
                <div class="col-md-3">2011-9-17</div>
                <div class="col-md-3" style="background-color: #f7f7f7">入党时间</div>
                <div class="col-md-3">2017-9-17</div>
            </div>
            <div style="margin-bottom: 250px">
                <div class="col-md-5" style="background-color: #f7f7f7">入党所属支部</div>
                <div class="col-md-5">武汉体育学院</div>

            </div>
            <div style="margin-bottom: 300px">
                <div class="col-md-5" style="background-color: #f7f7f7">备注</div>
                <div class="col-md-5">无</div>

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</div>
</body>
<script th:inline="javascript">

    /*<![CDATA[*/

    function loadPage(page) {
        $('#currPage').val(page);
        $.get("/user/userInfo/pagelist/"+page,function (data) {
            if(data.code == 0){
                var html = "<tr class=\"active\">" +
                            "<td>" + "姓名" + "</td>" +
                            "<td>" + "专业班级" + "</td>" +
                            "<td>" + "成分" + "</td>" +
                            "</tr>";
                for(var i = 0;i<(data.responseBody.length);i++){
                    var tmp = data.responseBody[i];
                    html+="<tr onclick=\"show()\">" +
                          "<td>" + tmp.name+"</td>" +
                          "<td>" +tmp.majorAndClass+"</td>" +
                          "<td>" + (Number(tmp.isPartyMember)===0?"党员":"预备党员")+"</td>" +
                          "</tr>"
                }
                $('#table').html(html);
            }
        })
    }

    /*]]>*/
</script>
</html>